@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');


body {
    font-family: 'Rubik Iso',isospace;
    background-color: #263e7f;
    color: #fff;
    display: flex;
    height: 100vh;
    aling-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}
