@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    display:flex;
    height: 100vh;
    align-items: center;
    justify-content: center; margin: 0;
    overflow: hidden;
}

.bg {
    background: url('https://assets3.thrillist.com/v1/image/1679696/1200x630/flatten;crop_down;webp=auto;jpeg_quality=70')
    no-repeat center center/cover;
    width: 100vw;
    height: 100vh;
    filter: blur(30px);
    z-index: -1;
    position: absolute;
}

.loading-text {
    font-size 50px;
    color: #ffffff;