@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');


:root {
    --blue: #3498db;
    --grey: #383838:
}


body {
    font-family: 'Rubik Iso',isospace;
    background-color: #263e7f;
    color: #fff;
    display: flex;
    height: 100vh;
    aling-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-bottom: 30px;
    position: relative;
}

.progress-container::before {
    content: "";
    background-color: var(--grey);
    width: 100%;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
}


.progress {
    position: absolute;
    background-color: var(--blue);
    top: 50%;
    left: 0;
    height: 4px;
    width: 50%;
    z-index: -1;
    transform: translateY(-50%);
}
