@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap')

body {
    font-family: 'Poppins', snas-serfit;
    background-color :rgb(161, 100,)
}








.btn {
    background-color: rebeccapurple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: Irem;
}